# Sisteminiai Windows failai
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini

# Vykdomieji failai
*.exe



# Sisteminiai ir vartotojo failai
ntuser.dat*
*.LOG1
*.LOG2
ntuser.ini
*.exe
*.tar.gz
*.xd
*.lck

# VS Code
.vscode/
.vscode/extensions/

# SonarLint
.sonarlint/
.sonarlinttmp_*/

# Crossnote
.crossnote/